@media screen and (min-width:768px) {
.bose-ar .text{
    margin-bottom: 0;
}
.bose-ar-description{
    padding-left: 60px;
    margin-right: 60px;
}
}

@media screen and (min-width:1440px) {
.bose-ar-description {
    padding-left: 190px;
    margin-right: 140px;
}
}