.guarantees-item::before {
    content: "";
    display: block;
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 13px;
    width: 13px;
    margin: 0 0 24px 0;
    padding: 0;
    box-sizing: content-box;
}